@using cw2_ef.Models

<h3>Na pewno chcesz długotrwale usunąć tego wydawce?</h3>


<a asp-action="DeleteEditor" asp-route-id="@ViewBag.LinkableId " class="btn btn-danger">Tak, usuwam na pewno</a>
<a asp-action="Editors" class="btn btn-success">Nie, jednak nie usuwam</a>